@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (max-width: 640px) {
  .datas {
    line-height: 0.5px !important;
  }
} */

@media (max-width: 1280px) {
  #nameJobContainer {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  #nameJobContainer > div {
    border-right: none !important;
  }
  .site {
    line-height: 1rem !important;
  }
}

@media (max-width: 780px) {
  #nameJobContainer > div,
  .signature-preview span,
  .signature-preview a,
  .phone {
    font-size: 0.8rem !important;
  }

  .data-user {
    align-items: flex-start !important;
  }
}

@media (max-width: 640px) {
  .img {
    width: 9rem !important;
  }
}
